* {
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
  }
  
.may_seprater {
  width: 80px;
  height: 4px;
  margin: 20px auto;
  background-color: #ee5935;
}
.sec1 {
  position: static;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
  top: 0px;
  max-width: 1330px;
  display:inline-block;
}


.sec1-1 img {
  cursor: pointer;
  max-width: 180px;
  max-height: none;
}
.sec1-1 {
  width: 15%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  top:20px; 
}
.sec1-1{
  float: left;
}

.sec1-2{
  box-sizing: border-box;
  display: inline-block; 
  margin-left: 150px;
}

ul{
  margin: 0;
  list-style-type: none; 
}

.sec1-2 ul li{
  font-size: 14px;
  padding: 32px 15px;
  border-radius: 0;
  border-bottom: 4px solid transparent;
  transition: all .2s ease-in;
  position: relative;
  margin-bottom: -1px;
  list-style-type: none;
  text-transform: uppercase;
  color:#4a4a4a;
  font-family: Roboto;
  font-weight: 700;
  cursor: pointer;
  float: left;
}

.sec1-2 ul li a {
  text-decoration: none;
  color: inherit;
}

li .partner {
  padding: 21px 15px;
  
}

.sec1-2 .btn {
  margin: 0;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  background-color:orangered;
}
.partner .btn span{
  color: white;
}
////////////////////////////////////////////////////////////
.sec2 {
  color: white;
  background-color: #fff0c7;
  background-image: url(../assets/img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //position: relative;
}

.sec2 .layout{
    max-width: 940px;
    margin: 0 auto;      
}

.sec2 .layout .layout1{
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  
}
  
.layout1-1 {
  //margin-top: 280px;
  padding-top: 70px;
  text-align: center;
  position:relative;
  //margin-top: 100px;
}


.layout .layout1 .layout1-1 h2 {
  font-size: 34px;
  letter-spacing: .25px;
  font-weight: 600;
  line-height: 40px;
  color: #4a4a4a;
  max-width: 500px;
  margin: 0 auto 10px;
  background-image: url(/assets/img/txtbg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 8px 40px;
  
}

.layout1-1 h1 {
  font-family: Arial Black;
  font-size: 50px;
  line-height: 50px;
  color:#fff;
  font-weight: 500;
  margin: 10px 0;
  text-shadow: 0 0 5px rgba(0,0,0,.6);
}

.layout2{
    margin: 0 0 70px;
}

.layout2 .banner {
  background-color:rgba(0,0,0,.4);
  color: #fff;
  padding: 20px 30px 30px;
  font-family: Arial Black;
  font-size: 32px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
}

.layout2 .banner a {
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid #ea5333;
  //background-color: transparent;
  color:#FFFF;
  border-radius: 4px;
  background:  #ea5333;
  margin-right: 20px;
  margin-top: 15px;
  display: inline-block;
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-weight: 400;
  text-decoration: none;
}

///////////////////////////////////////////////////////


.sec3{
  text-align: center;
  background-image: url(/assets/img/How_we_work_BG.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 50px 0;
}
.sec3-1 {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
.sec3-1 p,.sec4 p {
  margin: 10px 0 0;
  color: #4a4a4a;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  padding : 0 150px 20px 150px;
}

.sec3-2 iframe {
  width: 620px;
  height: 350px;
  max-width: 100%;
}

////////////////////////////////////////////////////

.sec4{
  text-align: center;
}

.sec5 {
  width:100%;
  text-align:center;
  box-sizing: border-box;
  white-space: normal;    
    
}

.sec5-1,.sec5-2,.sec5-3 {
  box-shadow: 0 2px 16px 0 hsla(0,0%,81%,.5);
  background-color: #fff;
  border-radius: 4px;
  margin: 10px;
  padding: 30px;
  max-width: 300px;
  cursor: pointer;
  position: relative;
  transition: all .2s ease-in;
  display: inline-block;
}
.sec5-1 img,.sec5-2 img,.sec5-3 img {
  height: 80px;
  width: auto;
  margin: 20px auto 30px;
  display: inline-block;
  cursor: pointer;
}

.sec5-1 h2,.sec5-2 h2,.sec5-3 h2 {
  margin: 0;
  color: rgba(0,0,0,.87);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}
.sec5-1 .may_seprater,.sec5-2 .may_seprater,.sec5-3 .may_seprater {
  width: 40px;
  height: 2px;
  margin: 15px auto;
}

.sec5-1 p,.sec5-2 p,.sec5-3 p {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 0 60px;
}

.sec5 :hover{
  transform: scale(1.03);
}

.sec5 .btn {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.25px;
  display: inline-block;
  margin: 0 auto;
  margin-left: auto;
  text-transform: uppercase;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -54px;
}
.btn span {
  color: #f15a28;
}
.btn:hover {
  text-decoration: none;
}
.btn {
  cursor: pointer;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
}

//////////////////////////////////////////////
.sec6{
  padding: 50px 0;
  //margin-left: 150px;
  //margin-right: 150px;
}

.sec6-0{
  max-width: 940px;
  margin: 0 auto;
  //max-width: 90%;
  max-height: 100%;
  box-sizing: border-box;
}

.sec6-1{
  width:100%; 
  margin:0 auto;
  text-align: center;
}

.sec0 {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.sec0 p {
  color: #777;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0 0 40px;
  font-weight: 500;
}

.sec0-1{
  //margin-bottom: 35px;
  margin: auto 150px;
}
.sec0-2 img {

  width:100%;
  height: auto;

  
}

span{
  color: #4a4a4a;
}
p{
  color: #777;
  font-size: 20px;
  text-align: center;
}

.sec6-2{
  width:100%; 
  margin:0 auto;
  text-align: center;
  background-color: #f7f7f7;
}
.sec6-4{
  display: block;
}

//////////////////////////////////////////////////

.sec7{
  background-color: #212121;
  padding: 80px 0;
  background-image: url(../assets/img/Statitics_BG.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 10px;
}

.layout {
  //flex: 1 1 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.sec7 .sec7-1 {
  display: inline-block;
  width: 20%;
  text-align: center;
  //position: relative;
  white-space: pre-line;
}

.sec7 .sec7-1 img{
  display: block;
  margin: 0 auto;
  height: 85px;
}

.sec7 .sec7-1{
  text-align: center;
}

.sec7 .sec7-1 span {
  color: 
  #4a4a4a;
  font-family: Arial Black;
  font-size: 30px;
  line-height: 42px;
}

.sec7 .sec7-1 p {
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0 40px;
  font-size: 18px;
  line-height: 21px;
  color: #4a4a4a;
}
//////////////////////////////////////////////////

.sec8 {
  padding: 50px 0 129px;
  background-color: #fafafa;
  background-image: url(../assets/img/Awards_BG.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  //min-height: 100%;
}

.sec8 .sec8-1{
    max-width: 940px;
    margin: 0 auto;
}

.sec8 .sec8-1 .awards{
  text-align:center;
  max-width: 100%;
}

.sec8 .sec8-2 .div
{
  display:inline-block;
  padding-left: 20px;
    
}
.sec8 .sec8-2
{
  margin-left:360px;
}

/////////////////////////////////////////////////////////
.sec9 {
  padding: 50px 0;
}

 h1 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: .25px;
  line-height: 40px;
  text-align: center;
  margin: 0;
}
.news1,.news2 {
  border-radius: 4px;
  background-color:#fff;
  box-shadow: 0 0 10px 0 hsla(0,0%,65%,.5);
  padding: 16px;
  max-width: 300px;
  min-height: 410px;
 // position: relative;
  margin-right: 20px;
  box-sizing: border-box;
  flex-direction: column;
  display:inline-block;
}

.news1 img,.news2 img {
  margin-bottom: 20px;
  max-width: 100%;
}
.news1 h4,.news2 h4 {
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .4px;
  line-height: 16px;
  margin: 0;
}
.sec9 .layout1{
  display: inline-block;
  margin: auto 300px auto 300px;
}

.layout1 .may_seprater {
  margin: 10px 0;
  width: 40px;
  height: 4px;
}

.news1{

  float:left;
  //display: inline;
}

.layout1 h2 {
  color: rgba(0,0,0,.87);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .25px;
  line-height: 24px;
  margin: 0;
  //cursor: pointer;
  white-space: pre-line;
}

.sec9 span {
  color: 
  #f15a28;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.25px;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  //position: absolute;
  bottom: 20px;
  right: 20px;
}

///////////////////////////////////////////////

.footer
{
  background-color: #212121;
  padding: 40px;
  color: #fff;
}
.footer a{
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.layout
{
  max-width: 940px;
  margin: 0 auto;
}

.footer .top .logo img
{
max-width: 220px;
}

.social span
{
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.footer .top .social img
{
  max-width: 50px;
  width: auto;
  height: 20px;
  padding-inline: 10px;
}
.social{
  float:right;
  //padding-inline: 10px;
}
.top div{
  display:inline;
}
.footerlink a
{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.footerlink{
  vertical-align:top;  
}
.footerlink h6 {
  margin: 0 0 10px;
  opacity: .3;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  line-height: 20px;
}
.footermiddle .footerlink{
  display:inline-block;
  padding:35px;
    
}
.footerbottom a
{
  position: relative;
  margin: 0 20px;
  font-size: 14px;
  //padding-left: 10px;
}
.footerbottom{
  text-align:center;
}
